[Unit]
Description=redborder social module

[Service]
ExecStart='java -jar /usr/lib/rb-social/rb-social.jar'
Restart=always
User=rb-social
Group=rb-social

[Install]
WantedBy=multi-user.target

