[Unit]
Description=redborder social module

[Service]
WorkingDirectory=/usr/lib/redborder-social
ExecStart=/bin/java -jar rb-social.jar /etc/redborder-social/config.yml
Restart=always
User=redborder-social
Type=simple

[Install]
WantedBy=multi-user.target

