[Unit]
Description=redborder social module

[Service]
WorkingDirectory=/opt/prod
ExecStart=/bin/java -jar rb-social.jar
Restart=always
User=redborder-social
Type=simple

[Install]
WantedBy=multi-user.target

